.cal-year {
	height: 100%;
	
	&__container {
		display: flex;
		flex-flow: column;
		height: 100%;
	}
	
	&__controls {
		flex: 0 1 auto;
	}
	
	&__row {
		flex: 0 1 auto;
		overflow-y: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	&__title {
		text-align: center;
	}
	
	&__table {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	&__days {
		height: 55px !important;
	}
	
	&__icons {
		text-align: center;
	}
	
	&__icon {
		height: .4em !important;
		width: .4em !important;
	}
}