@import '../base/_constants.scss';

.cal {
	margin: 0 auto;
	padding-top: 3em;
	padding-bottom: 3em;
	max-width: 100%;
	font-size: 14px;
	
	@include atMedium {
		max-width: 80%;
	}
	
	@include atExLarge {
		max-width: 60%;
	}
	
	&__container {
		height: 100%;
	}
	
	& .clndr-block {
		margin-top: 10px;
	}
}
