@import '../../../styles/base/_constants.scss';

table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid $border-color;
}

tr.odd {
	background-color: $day-color;
}

tr.even {
	background-color: $day-color-hover;
}

thead {
	background-color: $primary-color-1;
	color: $text-color-light;
}

tbody {
	color: $text-color;
}

.icon {
	max-width: 30px;
}

.header-btn {
	float: right;
	padding: .5em;
}